main{
  background-color:#3f3feb
}
header{
  background-color:#bd25fa
}
footer{
  background-color:#6a2fd4
}
h1{
  color:#2f68d4
}
body{
}
#banner{
  width:100%
    .principal{
      background:#2f68d4;
      padding:30px;
  }
  .titulo-principal{
    padding-left:20px;
  }
  .titulo-centralizado{
    text-align:center
  }
  p{
    text-align:center;
  }
  #missao{
    font-size:20px
  }
  em strong{
    color:#51abdb;
  }
  .itens{
    font-style:italic
  }
  .beneficios{
    background:#2f68d4;
    padding:20px;
  }
  ul{
    display:inline-block;
    vertical-align:top;
    width:20%;
    margin-right:15%;
  }
  .imagembeneficios{
    width:50%;
  }
